/* detail blok */
.detailblok {
    padding: 50px;
}

.headdetail {
    font-size: 30px;
    text-align: left;
    padding-bottom: 0;
}

.headFav {
    padding-top: 100px;
}

.titleDetail {
    padding-left: 25px;
}

.categories {
    display: inline-flex;
}

.titleDetail p,
#categori p {
    font-size: 15px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    padding-right: 5px;
}

.menu {
    display: flex;
    margin-bottom: 20px;
}

.menu .food,
.menu .drink {
    display: inline-block;
    padding-right: 50px;
}

.menu .food p,
.menu .drink p {
    text-align: left;
    margin-top: 2px;

}

.menu #food,
.menu #drink {
    font-size: 12px;
}

.poster {
    width: 100%;
    padding-top: 15px;
    display: inline-block;
}

.itemdetail1 {
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
}

.itemdetail2 {
    text-align: center;
}

.itemdetail3 {
    padding-top: 7px;
    text-align: left;
    padding-left: 10px;
}

.itemdetail3 h3 {
    padding-bottom: 10px;
    padding-top: 0;
}

.itemdetail3 h4 {
    font-size: 15px;
    padding-bottom: 8px;
}

.itemdetail3 p {
    text-align: justify;
}

.itemdetail3 .almt {
    font-size: 12px;
}

.rating {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 15px;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 0;
    padding-top: 60px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

/* customer review */
.reviewblok {
    margin-bottom: 30px;
}

.section-title {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 25px;
    margin-top: 30px;
}

.section-title p {
    color: #7d93b2;
    font-size: 13px;
    line-height: 20px;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.section-title h2 {
    float: left;
    width: 100%;
    text-align: center;
    color: rgb(128, 32, 32);
    font-size: 20px;
    font-weight: 800;
    position: relative;
}

.section-separator {
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0;
}

.section-separator:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 3px;
    width: 50px;
    border-radius: 3px;
    background-color: rgb(128, 32, 32);
    margin-left: -25px;
}

.headSeparator:before {
    left: 40px;
}

.testi-item {
    transition: all .3s ease-in-out;
    transform: scale(0.9);
    opacity: 0.9;
    align-items: center;
}

.testimonials-text {
    width: 100%;
    padding: 75px 50px 75px;
    overflow: hidden;
    background: #f5f6fa;
    border: 1ps solid #f1f1f1;
    border-radius: 10px;
    height: 280px;
}

.testimonials-text-after {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    color: #ccc;
    opacity: .3;
    font-size: 35px;
    transition: all 400ms linear;
    bottom: 30px;
    right: 50px;
}

.testimonials-text-before {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    color: #ccc;
    opacity: .3;
    font-size: 35px;
    transition: all 400ms linear;
    top: 25px;
    left: 30px;
}

.testimonials-avatar h3 {
    font-weight: 600;
    color: #526074;
    font-size: 18px;
}

.testimonials-avatar h4 {
    font-weight: 400;
    font-size: 12px;
    padding-top: 6px;
    color: rgb(128, 32, 32);
}

.testimonials-carousel .swiper-slide {
    padding: 30px 0;
}

.testi-avatar {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    z-index: 20;
}

.testi-avatar img {
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}

.swiper-slide-active .testimonials-text {
    background: #fff;
    box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}

.testimonials-text p {
    color: #5d637c;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
}
/* Like */
.like {
    font-size: 18px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #830E0E;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

/* add review modal */
.tombol {
    background-color: #830E0E;
    border: none;
    color: white;
    padding: 15px 20px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    float: left;
    left: 10%;
}

.tombol:hover {
    background-color: #8a1616;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 35%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    position: relative;
}

.modal-content h2 {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0;
}

.namaReviewer {
    height: 44px;
}

.isiReview {
    height: 70px;
    padding-top: 10px;
    padding-left: 5px;
}

.namaReviewer,
.isiReview {
    display: block;
    width: 100%;
    margin: 15px 0;
}

.btnSubmit {
    padding: 14px;
    text-decoration: none;
    background-color: #830E0E;
    color: white;
    border: none;
    border-radius: 2px;
    display: block;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}

.btnSubmit:hover {
    background-color: #8a1616;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 20px;
    right: 30px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes slideIn {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}